<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        const ROOM_ID = "<%=roomId%>";
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>

    <link rel="stylesheet" href="style.css" />
</head>

<body>

    <div class="main">
        <div class="meetsection">
            <div class="meet-box">
                <div id="video-grid">

                </div>
            </div>

            <div class="control-box">
                Controls
            </div>
        </div>
        <div class="chatbox">
            <div class="chat-header">
                Chat
            </div>
        </div>

    </div>
    <script src="script.js"></script>
</body>

</html>