body{
    margin:0;
}

#video-grid {
    display: flex;
    justify-content: center;
}

video {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.main {
    height: 100vh;
    display: flex;
}

.meet-box {
    display: flex;
    flex-grow: 1;
    background-color: #202124;
    justify-content: center;
    align-items: center;
}

.meetsection {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.chatbox {
    flex: 0.3;
    background-color: #202124;
    padding: 20px;
}

.chatbox-inner{
    display: flex;
    flex-direction: column;
    height: 90%;
    border-radius: 10px;
    background-color: #f6f6f6;
    box-shadow: 1px 1px 1px gray;
}

.chat-header{
    flex: 0.05;
    font-family:serif;
    font-weight: 800;
    font-size: 20px;
    font-size: 20px;
    color: #3c4043;
    padding-left: 20px;
    padding-top: 10px;
    display: block;
}

.control-box{
    background-color: #202124;
    padding: 20px;
}

.control-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-button{
    background-color: #3c4043;
    padding: 10px;
    border-radius: 30px;
    margin: 5px;
}

.control-button-leave{
    background-color: #ea4335;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 30px;
    margin: 5px 5px 5px 15px;
}

.control-button > svg{
}

.chat-input{
    flex:0.05;
}

li{
    line-height: 2px;
    margin-top: 8px;
}

.chat-main{
    flex: 0.9;
    overflow-y: scroll;
}

ul{
    text-decoration: none;
    list-style: none;
    margin-top: 5px !important;
}